/* global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: fit-content;
    /* overflow-x: hidden; */
    /* scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll; */
}

section {
    /* scroll-snap-align: start; */
}

/* nav */
#nav-bar {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: #2595becc;
    backdrop-filter: blur(20px);
    padding: 10px 0;
    font-family: 'Red Hat Display', sans-serif;
}

#nav-bar a {
    /* border: solid 1px white; */
    border-radius: 10px;
    padding: 3px 8px;
    text-decoration: none;
    color: white;
    margin: 0 40px;
}

#nav-icons:nth-child(2) {
    padding-right: 20px;
}

nav img {
    width: 20px;
    padding: 0 5px;
}

/* hamburger menu */
#menu-button {
    padding: 0;
    border: none;
    background: none;
    z-index: 31;
    display: none;
}

#mobile-menu {
    display: none;
    height: 100vh;
    position: fixed;
}

.menuopen {
    display: block;
}

#mobile-menu li {
    display: none;
}

#mobile-menu ul {
    height: 100vh;
    background-color: #AFF2FB;
    display: none;
}

#mobile-menu.open {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#mobile-menu.open ul {
    display: block;
    z-index: 30;
}



/* #mobile-menu.menuopen */

#menu-button .bar {
    display: block;
    width: 60px;
    height: 6px;
    background: black;
    border-radius: 14px;
    margin: 6px 0;
}

#mobile-menu ul {
    display: flex;
    justify-content: space-around;
}

/* first page */
#first-page {
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 70px;
    margin-bottom: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    font-family: "Poppins";
    font-size: 50px;
}


/* #intro-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
} */

#developer-span {
    color: #E88400;
}



/* about me page */
#aboutme-title {
    font-family: "Poppins";
    font-size: 5em;
    color: white;
    padding: 200px 0 0 80px
}

#aboutme-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#aboutme-content-container {
    padding-top: 100px;
    height: 600px;
    display: flex;
}

#me-span {
    color: #2596be;
}

#profile-img {
    height: auto;
    border-radius: 10px;
}

#aboutme-headline {
    color: #2596be;
    font-size: 70px;
}

#aboutme-text {
    max-width: 800px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
    font: 500;
}

#aboutme-desc {
    font-size: 18px;
    max-width: 100%;
    letter-spacing: 0px;
    color: white;
}

@media screen and (max-width:480px) {
    #about-title-container {
        display: flex;
        width: 100vw;
        justify-content: center;
    }
}

/* skills page */
#skills-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#skills-content-container {
    width: fit-content;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-title {
    font-family: "Red Hat Display";
    font-size: 100px;
    color: white;
}

#tool-icon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}

.tool-items {
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Red Hat Display";
    color: white;
}

.tool-items img {
    width: 150px;
}

.tool-items h1 {
    letter-spacing: 1px;
}

#skill-desc {
    max-width: 1200px;
    font-size: 20x;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* work page */
#work-page {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#work-title {
    font-size: 120px;
    font-family: "Red Hat Display";
    color: white;
    padding: 200px 20px 0px 20px;
}

#myovies-demo-container {
    padding-top: 30px;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}



#work-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;

}

/* myovies */
#myovies-title {
    font-size: 100px;
    font-family: "Poppins";
    color: orangered;
}

#myovies-startpage-img {
    width: 90%;
}

#myovies-desc-img {
    width: 15%;
}

#myovies-search-img {
    width: 70%;
}

#myovies-rating-img {
    width: 60%;
}

#myovies-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#myovies-img-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}


#myovies-img-container {
    height: fit-content;
    max-width: 1600px;
    display: flex;
    justify-content: center
}

#myovies-img {
    /* background-color: #2596be; */
    width: 80%;
}

#myovies-searchpage {
    display: none;
}

#work-container #myovies-slideleft {
    height: 60px;
}

#work-container #myovies-slideright {
    height: 60px;
}

#myovies-img-container {
    transition: 400ms;
}

#myovies-btns {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 150px;
}

#myovies-btns button {
    width: 350px;
    height: 80px;
    border-radius: 20px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 200; */
    transition: 300ms ease-in;


}

#myovies-site {
    border: 5px solid orangered;
    background-color: orangered;
    color: white;
    font-weight: 400;
}

#myovies-site:hover {
    color: #F7D21B;
    font-size: 47.25px;
    transform: scale(1.05);
}

#myovies-repo {
    background-color: transparent;
    border: 3px solid #fea049;
    font-weight: 200;
    color: rgb(207, 207, 207);
}

#myovies-repo:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.332);
    border: 5px solid #fea049;
    color: white;
    font-size: 47.25px;
}

#myovies-desc {
    width: 75%;
    font-family: "poppins";
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: white;
}

/* tic tac toe */
#tictactoe-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#tictactoe-title {
    font-size: 100px;
    font-family: "Poppins";
    color: #AFF2FB;
}

#tictactoe-img-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

#tictactoe-img-container {
    height: fit-content;
    max-width: 1600px;
    display: flex;
    justify-content: center
}

#tictactoe-img {
    width: 80%;
}

#tictactoe-searchpage {
    display: none;
}

#work-container #tictactoe-slideleft {
    height: 60px;
}

#work-container #tictactoe-slideright {
    height: 60px;
}

#tictactoe-btns {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 150px;
}

#tictactoe-btns button {
    width: 350px;
    height: 80px;
    border-radius: 20px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 200; */
    transition: 300ms ease-in;

}

#tictactoe-play {
    border: 3px solid #FF7E50;
    background-color: #FF7E50;
    font-weight: 500;
    color: white;
}

#tictactoe-play:hover {
    transform: scale(1.05);
    font-size: 47.25px;
    color: #AFF2FB;
}

#tictactoe-repo {
    background-color: transparent;
    border: 3px solid #AFF2FB;
    font-weight: 200;
    color: rgb(207, 207, 207);
}

#tictactoe-repo:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.332);
    border: 5px solid #AFF2FB;
    color: white;
    font-size: 47.25px;
}

@media screen and (max-width:1330px) {
    #aboutme-page {
        height: 100vh;
    }

    #first-page {
        align-items: center;
        justify-content: center;
    }

    #first-page h1 {
        font-size: 4rem;
    }

    #first-page h2 {
        font-size: 3rem;
    }

    #aboutme-content-container {
        height: fit-content;
        padding-top: 50px;
        flex-direction: column;
    }

    #aboutme-title {
        padding-top: 250px;
    }

    #aboutme-headline {

        font-size: 74px;
    }

    #profile-img {
        padding-top: 20px;
        width: 30vw;
    }

    /* skills page */
    #skills-content-container {
        padding-top: 30px;
    }

    #skills-title {
        font-size: 60px;
    }

}

@media screen and (max-width:1150px) {
    #skills-content-container {
        margin-top: 600px;
    }

    #tool-icon-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:860px) {
    #first-page h2 {
        font-size: 3rem;
    }

    #first-page #aboutme-title-container {
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
        height: 30px;
    }

    #menu-button {
        display: block;
    }

    #nav-a {
        display: none;
    }
}

@media screen and (max-width:700px) {
    #tool-icon-container {
        grid-template-columns: 1fr 1fr;
    }

    #skill-content-container {
        margin-top: 2000px;
    }
}

@media screen and (max-width:620px) {
    .wrapper {
        background-repeat: repeat-y;
    }

    #first-page {
        align-items: center;
        /* justify-content: flex-start; */
        padding-top: 100px;
        padding-bottom: 20vh;
    }

    #first-page h1 {
        font-size: 4rem;
    }

    #first-page h2 {
        font-size: 2rem;
    }

    #intro-text-container {
        text-align: center;
    }

    #first-page {
        margin: 0;
    }

    /* about me page */

    #aboutme-title {
        padding: 0;
        font-size: 50px;
        text-align: center;
    }

    #aboutme-content-container {
        height: fit-content;
        flex-direction: column;
    }

    #aboutme-content-container {
        padding-top: 20px;
        align-items: center;
    }

    #aboutme-headline {
        padding: 0;
        font-size: 30px;
        text-align: center;
    }

    #aboutme-desc {
        padding-left: 20px;
        font-size: 15px;
        text-align: center;
        padding-bottom: 30px;
    }

    #profile-img {
        width: 70%;
    }

}