/* global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300&display=swap');
*{
    padding:0;
    margin: 0;
}
.wrapper{
    display:flex;
    flex-direction: column;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400vh;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}
section{
    scroll-snap-align: start;
}

/* nav */
nav{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: #2596be;
    padding:10px 0;
    font-family: 'Red Hat Display', sans-serif;
}
nav a{
    /* border: solid 1px white; */
    border-radius: 10px;
    padding: 3px 8px;
    text-decoration: none;
    color: white;
    margin: 0 40px;
}

#nav-icons:nth-child(2){
   padding-right: 20px;
}
nav img{
    width: 20px;
    padding: 0 5px;
}
/* first page */
#first-page{
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro-content-container{
    margin-top: 70px;
    color: white;
    display: flex;
    height: 600px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 50px;
}
#intro-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}

#developer-span{
    color: #E88400;
}
@media screen and (max-width:480px) {
    #intro-content-container{
        flex-direction: column;
    }
    .wrapper{
        background-image: none;
        background-color: #2596be;
    }
    #first-page{
        background-image: none;
        justify-content: center;
        padding: 0 30px;
        height: 100vh;
    }
    #first-page h2{
        font-size: 30px;
    }
}
/* about me page */
#aboutme-page{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#aboutme-title-container{
    height: 40vh;
    padding-left: 200px;
    display: flex;
    align-items: flex-end;
}
#aboutme-content-container{
    padding-top: 100px;
    height: 600px;
    display: flex;
}
#aboutme-title{
    font-family: "Red Hat Display";
    font-size: 100px;
    color: white;
    padding-bottom: 30px;
}
#me-span{
    color: #2596be;
}
#profile-img{
}
#aboutme-headline{
    color: #2596be;
    font-size: 80px;
}
#aboutme-text{
    max-width:800px ;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
    font: 500;
}
#aboutme-desc{
    font-size: 30px;
   max-width: 100%;
    color: white;
}
@media screen and (max-width:480px) {
     #aboutme-content-container{
        flex-direction: column;
     }
}
