*{
    padding:0;
    margin: 0;
}
.wrapper{
    display:flex;
}
nav{
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    background-color: #2596be;
}
nav a{
    border: solid 2px #2596be;

    border-radius: 10px;
    padding: 3px 8px;
}
#first-page{
    width: 100vw;
    display: flex;
    justify-content: center;
}
#profile-img{
    width: 400px;
}